{% block sidebar %}
<style>
        .card{
            box-shadow: 0 16px 48px #990066;
        }
</style>
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h3 class="card-header" style="color:orange;">More</h3>
    <div class="card-body">
        <p style="color:yellow;">Item Donations can be sent via mail to <b>P.O. BOX 20225 - 46 Kimulot,Bomet</b>
            for more information, contact us at;</p>

    <div class="contact"style="color:white;">
          <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>tunzacbo2016@gmail.com</p>
          <p><i class="fa fa-phone fa-fw pull-left fa-2x" ></i>+254 726330015</p>
          <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>langatkevin64@gmail.com</p>
          <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>P.O. BOX<br> Kimulot, 20225 - 46</p>
          <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+254 726330015</p>
          </div>
    </div>

    </div>
</div>
</div>
{% endblock sidebar %}