{% extends 'base.html' %}
{% block body %}
{% load static %}
<body>
<div class="background">

 <p>

  </p>
</div>
</body>
<section id="about" class="section-padding"style="background-color:Tomato;opacity:0.8;">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
			  <h1 class="head-title lg-line"><b>Kevin Lang'at <br>The Ultimate Dream</b></h1>
            <hr class="botm-line">
              <img src="{% static 'Tunza/img/Ceo/kevin0.jpg' %}" alt="CEO"style="width:227.5px;height:151.75px;"></a>

			  <h3><p class="sec-para">I am a founder member of a community-based organization called Tunza
     Community Based Organization. The CBO was registered in 2017 under the
     Ministry of Labour, Social Security, and Services. The CBO was registered
     in order to help tackle the many challenges faced by kids who come from a
     humble background in various public primary schools in rural parts of Bomet
     County. These challenges include lack of school uniforms, school shoes,
     writing materials and sanitary pads to the girls. These challenges expose
     these kids to various dangers like contracting diseases from pit latrines
     which are mostly not in good condition. The girls also miss schools during
     their monthly periods because they do not have the pads this, in the end,
     leads to poor performance in school. These kids are also affected mentally
     in that they look down upon themselves because they do not have good uniforms
     and shoes.            </p></h3>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h1>Short Story</h1>
				  <p><h3>Tunza Community Based Organization is a non-profit organization run by Mr.Kevin Lang'at.<br><br>
                  Here in Tunza we are motivated to help and care for the needy pupils in Bomet. We do so by providing
                  the Basic neccesities a growing kid needs in order to make the learning more comfortable.</h3></p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h1>What we offer to the society</h1>
				  <p><h3> We issue the basics needs for example;
                 <br><br>
                  <li>sanitary towels,</li>
                  <li>school shoes, </li>
                  <li>school uniforms,</li>
                  <li>school bags and also writing materials.</li><br>
                  We have also developed a mentorship program
                  in order to make sure that these kids are taken care of in terms of their spiritual, mental and social lives.<br>
                  This venture is important because we are providing solutions to challenges faced by kids in
                  public schools in Kenya. This, in turn, will bring about a positive impact
                  in the lives of these kids and even the lives of their families.</h3></p>
              </div>
            </div>
                            <img src="{% static 'Tunza/img/Tun23.jpg' %}" alt="CEO"style="width:227.5px;height:151.75px;"></a>
              <img src="{% static 'Tunza/img/Tun20.jpg' %}" alt="CEO"style="width:227.5px;height:151.75px;"></a>
              <img src="{% static 'Tunza/img/Tun19.jpg' %}" alt="CEO"style="width:227.5px;height:151.75px;"></a>
              <img src="{% static 'Tunza/img/Tun18.jpg' %}" alt="CEO"style="width:227.5px;height:151.75px;"></a>
              <img src="{% static 'Tunza/img/Tun21.jpg' %}" alt="CEO"style="width:227.5px;height:151.75px;"></a>
              <img src="{% static 'Tunza/img/Tun22.jpg' %}" alt="CEO"style="width:227.5px;height:151.75px;"></a>

          </div>
        </div>
      </div>
    </div>
  </section>
	<style>
		#about{
    background-color: rgba(238, 238, 238, 0.15);
}
.lg-line{
	line-height: 1.4;
	font-size: 28px;
}
.more-features-box-text-icon {
    float: left;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    background: #0cb8b6;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.more-features-box-text-description h3{
    padding-bottom: 15px;
}
.more-features-box-text-icon i {
    font-size: 18px;
    line-height: 26px;
}
.more-features-box-text-description{
	margin-left: 80px;
	margin-bottom: 35px;
}
.sec-para{
	padding-bottom: 10px;
}
	</style>
{% endblock %}