{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="background">
<br><br>
</div>

      <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Gallery</h3>
        <hr>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
              <a class="fancybox" href="{% static 'Tunza/img/logo.jpg' %}" style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/logo.jpg' %}" alt="" style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
              <a class="fancybox" href="{% static 'Tunza/img/Tun22.jpg' %}" style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/Tun22.jpg' %}" alt="" style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
              <a class="fancybox" href="{% static 'Tunza/img/Ceo/ceo.jpg' %}" style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/Ceo/ceo.jpg' %}" alt="" style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- col-lg-4 -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
              <a class="fancybox" href="{% static 'Tunza/img/tun1.jpg' %}" style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/tun1.jpg' %}" alt="" style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
              <a class="fancybox" href="{% static 'Tunza/img/Ceo/kevin3.jpg' %}" style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/Ceo/kevin3.jpg' %}" alt="" style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- col-lg-4 -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <a class="fancybox" href="{% static 'Tunza/img/tun2.jpg' %}" style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/tun2.jpg' %}" alt="Ceo taking a picture with students at Kipki primary school" style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- col-lg-4 -->
        </div>
        <!-- /row -->
        <div class="row mt">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <a class="fancybox" href="{% static 'Tunza/img/tun3.jpg' %}"style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/tun3.jpg' %}" alt=""style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- col-lg-4 -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <a class="fancybox" href="{% static 'Tunza/img/tun4.jpg' %}"style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/tun4.jpg' %}" alt=""style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- col-lg-4 -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <a class="fancybox" href="{% static 'Tunza/img/tun5.jpg' %}"style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/tun5.jpg' %}" alt=""style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- col-lg-4 -->
        </div>
        <!-- /row -->
        <div class="row mt mb">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <a class="fancybox" href="{% static 'Tunza/img/tun6.jpg' %}"style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/tun6.jpg' %}" alt=""style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- col-lg-4 -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <a class="fancybox" href="{% static 'Tunza/img/tun8.jpg' %}"style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/tun8.jpg' %}" alt=""style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- col-lg-4 -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <a class="fancybox" href="{% static 'Tunza/img/tun7.jpg' %}"style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/tun7.jpg' %}" alt=""style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- col-lg-4 -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
              <a class="fancybox" href="{% static 'Tunza/img/Ceo/Kevin1.jpg' %}" style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/Ceo/Kevin1.jpg' %}" alt="" style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
              <a class="fancybox" href="{% static 'Tunza/img/Ceo/Kevin2.jpg' %}" style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/Ceo/Kevin2.jpg' %}" alt="" style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
              <a class="fancybox" href="{% static 'Tunza/img/tun29.jpg' %}" style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/tun29.jpg' %}" alt="" style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
              <a class="fancybox" href="{% static 'Tunza/img/tun30.jpg' %}" style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/tun30.jpg' %}" alt="" style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
              <a class="fancybox" href="{% static 'Tunza/img/tun27.jpg' %}" style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/tun27.jpg' %}" alt="" style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
              <a class="fancybox" href="{% static 'Tunza/img/tun26.jpg' %}" style="width:300px;height:200px;"><img class="img-responsive" src="{% static 'Tunza/img/tun26.jpg' %}" alt="" style="width:300px;height:200px;"></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
{% endblock %}