{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="background">
<img class="img-responsive" src="{% static 'Tunza/img/banner.jpg' %}" alt="banner"style="opacity: 0.5"></a>
<img class="img-responsive" src="{% static 'Tunza/img/tunzza2.jpg' %}" alt="banner"></a>

<h1 style="text-align:center;">Welcome to Tunza CBO</h1><br>
<br><br>


<!--Partners-->
<!--<br><br>-->
<!--<h1 style="text-align:center;">MEET OUR PARTNERS</h1>-->
<!--<div class="clear">-->
<!--<div class="clearfix">-->
<!--  <div class="box2" style="background-color:Tomato;">-->
<!--  <a href="https://portal.watson.is/campaigns/kevin-langat/"><img class="img-responsive" src="{% static 'Tunza\img\socialmedia\watson1.png' %}" alt="watson"></a>-->
<!--  <p style="text-align:center;">Watson University</p>-->
<!--      <style>-->
<!--          .clear {-->
<!--                margin: auto;-->
<!--                width: 50%;-->
<!--                border: 3px solid green;-->
<!--                padding: 10px;-->
<!--                }-->
<!--      </style>-->
<!--  </div>-->


<!--  <div class="box2" style="background-color:Tomato">-->
<!--  <img class="img-responsive" src="{% static 'Tunza\img\socialmedia\watson.png' %}" alt="watson"></a>-->

<!--    <p>Some text inside the box.</p>-->
<!--  </div>-->
<!--  <div class="box2" style="background-color:Tomato">-->
<!--  <img class="img-responsive" src="{% static 'Tunza\img\socialmedia\watson.png' %}" alt="watson"></a>-->
<!--    <p>Some text inside the box.</p>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
	<br><br>
<!--End Partners-->

    <section class="about py-lg-5 py-md-5 py-5">
        <div class="container">
            <div class="inner-sec-w3pvt py-lg-5 py-3">
                <h3 class="tittle text-center mb-lg-5 mb-3 px-lg-5">A World of a thousand possibilities.</h3>
                <div class="feature-grids row mt-3 mb-lg-5 mb-3 mt-lg-5 text-center" style="background-color:white; color:black;">
                    <div class="col-lg-4" data-aos="fade-up">
                        <div class="bottom-gd px-3">
                            <span class="fa fa-bus" aria-hidden="true"></span>
                            <h3 class="my-4">Our future is with them</h3>
                            <p>The only way to ensure and asure that our future is in good hand is to mould and show them how to do good to the society they live in.</p>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-up">
                        <div class="bottom-gd2-active px-3">
                            <span class="fa fa-car" aria-hidden="true"></span>
                            <h3 class="my-4"> Item Donation</h3>
                            <p><p style="color:blue;">Item Donations can be delivered via post mail to <b>P.O. BOX 20225 - 46 Kimulot,Bomet</b>
            for more information, contact us at;</p>
          <p>tunzacbo2016@gmail.com</p>
          <p>+254 726330015</p>
          <p>langatkevin64@gmail.com</p>
          </div>
    </div></p>
                        </div>
                    </div>
                </div>
                <br><br>
				<div class="fetured-info pt-lg-5">
                    <div class="row" style="background-color:grey;">
                        <div class="sbanner">
                        <div class="col-lg-6 p-0">
                        <img src="{% static 'Tunza/img/tunza1.jpg' %}" alt=" " class="img-fluid">
<style>
    .sbanner{
        opacity:0.2;
    }
</style>
                        </div>
                        </div>

                        <div class="col-lg-6 serv_bottom feature-grids pl-lg-5">

                            <div class="featured-left text-left">
                                <div class="bottom-gd px-3">
                                    <h3 class="my-4"></h3>
                                    <p>Most pupils in public primary schools in rural parts of Kenya come from low income earning families.
                                        They therefore do not get all the necessities they need for their daily lives.</p>
                                </div>
                                <div class="bottom-gd fea active p-4" data-aos="fade-left">
                                    <h3 class="my-3 "></h3>
                                    <p> Most come to school without school uniforms, shoes, writing materials and teenge girls like sanitary pads and
                                        sometimes are forced to stay at home and end up missing a lot from school. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </section>
<br><br>
	<!--About us-->
	<section id="about" class="section-padding"style="background-color:green;opacity:0.89;">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
			  <h1 class="head-title lg-line"><b>The Tunza <br>Ultimate Dream</b></h1>
            <hr class="botm-line">
			  <h3><p class="sec-para">Tunza was established by Mr.Kevin Lang'at on the year 2017 ,
                  with the aim of helping pupils mostly in primary schools..</p></h3>
			  <h3><a href="{% url 'Tunza:about' %}" style="color: #0cb8b6; padding-top:10px;">Know more..</a></h3>
                            <img src="{% static 'Tunza/img/Ceo/ceo.jpg' %}" alt="CEO"style="width:227.5px;height:151.75px;"></a>

          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;opacity:0.9;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h2>Our Objective</h2>
                              <hr class="botm-line">

				  <p><h3>Tunza CBO's main objective therefore is to provide solutions to these challenges. We do so by providing these kids
                  with necessary materials for them to be comfortable and be able to pursue their education without any challenge</h3></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

	<style>
		#about{
    background-color: rgba(238, 238, 238, 0.15);
}
.lg-line{
	line-height: 1.4;
	font-size: 28px;
}
.more-features-box-text-icon {
    float: left;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    background: #0cb8b6;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.more-features-box-text-description h3{
    padding-bottom: 15px;
}
.more-features-box-text-icon i {
    font-size: 18px;
    line-height: 26px;
}
.more-features-box-text-description{
	margin-left: 80px;
	margin-bottom: 35px;
}
.sec-para{
	padding-bottom: 10px;
}
	</style>
	<!--End About us-->

<!--Client review-->
<!--	 <section class="services py-5" id="test">-->
<!--        <div class="container py-lg-3 inner-sec-w3ls">-->
<!--            <div class="header-w3layouts text-center mb-5">-->
<!--                <h3 class="title-w3pvt mb-3"> Client Reviews </h3>-->

<!--            </div>-->
<!--            <div class="test-content">-->
<!--                <div class="testimonials_grid">-->

<!--                    <span class="fa fa-quote-left" aria-hidden="true"></span>-->
<!--                    <p class="sub-test">Integer sit amet mattis quam, sit amet ultricies velit. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus.-->
<!--                    </p>-->
<!--                    <div class="testi_grid">-->
<!--                        <img src="{% static 'Tunza/img/Ceo/kevin1.jpg' %}" alt=" " style="width:200px;height:130px;">-->
<!--                        <h5>Thomas Carl</h5>-->
<!--                        <label>xxx Company </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
	<style>
		.tabs-blue {
    background: #cafff8;
}

.tab-main {
    padding: 40px 0;
    border: none;
    background: transparent;
    box-shadow: none;
    text-align: center;
}

.inner-w3layouts-wrap {
    padding-top: 4em;
    text-align: center;

}


.tab-main input.w3layouts-sm {
    display: none;
}



.tab-main label {
    display: inline-block;
    margin: 0 1em;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #1e272e;
    border: 1px solid transparent;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    font-size: 1.1em;

}

.tab-main span {
    margin-right: 0.5em;
}

.tab-main section {
    display: none;
    padding: 4em 0 2em 0;
    border-top: 1px solid #abc;
}

	</style>

<!--DONATION FUNCTION -->
<div class="box">
	<a class="button" href="donate">DONATE</a>
</div>
<h3 style="text-align:center;">Make your donations here</h3>
<div id="popup1" class="overlay">
	<div class="popup">
		<h2><img class="img-responsive" src="{% static 'Tunza/img/banner.jpg' %}" alt="banner"style="opacity: 0.5"></a>
<div style="margin: auto; width: 40%; padding: 20px;">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="3GJZAY3K9GFEU" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_KE/i/scr/pixel.gif" width="1" height="1" />
</form>


</div>
<p>A Kind Gesture can reach a wound that only compassion can heal..</p>
		</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
		</div>
	</div>
</div>

    <style>

    body {
  font-family: Arial, sans-serif;
  background-size: cover;
  height: 100vh;
}



.box {
  width: 40%;
  margin: 0 auto;
  background: orange;
  padding: 35px;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 24px;
  padding: 30px;
  color: blue;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #ff0000;
}
.popup .close:hover {
  color: #ff0000;
}
.popup .content {
  max-height: 30%;
  overflow: auto;

}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
</style>
<!--END OF DONATION FUNCTION-->
<style>
* {
    box-sizing: border-box;
}

.box2 {
    float: left;
    width: 33.33%;
    padding: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
</style>
</div>
    {% endblock %}
